<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Win95</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/desktop_icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/taskbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/window.css}"/>
    <link rel="stylesheet" th:href="@{/clippy/build/clippy.css}"/>
</head>
<body>
<!--desktop icons-->
<div th:insert="~{components/desktop-icons :: iconFragment('/win98_icons/computer_explorer_cool-0.png', 'My Computer', 40, 40)}"></div>
<div th:insert="~{components/desktop-icons :: iconFragment('/win98_icons/world-3.png', 'Web browser', 150, 40)}"></div>
<div th:insert="~{components/desktop-icons :: iconFragment('/win98_icons/recycle_bin_empty-5.png', 'Recycle Bin', 500, 40)}"></div>


<!--chaterbox-->
<div th:insert="~{components/window :: retroWindow(
    'Chatterbox95',
    @{/win98_icons/internet_connection_wiz-1.png}
)}">
    <div th:fragment="chatterboxContent">
        <div th:replace="~{components/chatterbox :: chatterboxApp}"></div>
    </div>
</div>



<!--taskbar-->
<div th:insert="components/taskbar :: taskbar"></div>


<script th:src="@{/js/desktop.js}"></script>
<script th:src="@{/js/draggable_window.js}"></script>
<script th:src="@{/js/clippy-init.js}"></script>
<script th:src="@{/clippy/build/clippy.min.js}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@xenova/transformers@2.7.0/dist/transformers.min.js"></script>
</body>
</html>
